<div id="<%= dom_id purchase_order_item %>">
  <p>
    <strong>Purchase order:</strong>
    <%= purchase_order_item.purchase_order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= purchase_order_item.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= purchase_order_item.quantity %>
  </p>

</div>
