<h2>Inventory Report</h2>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Opening Inventory</th>
      <th>Closing Inventory</th>
    </tr>
  </thead>
  <tbody>
    <% InventoryItem.includes(:product).each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.opening_inventory %> units</td>
        <td><%= item.closing_inventory || "Not calculated" %> units</td>
      </tr>
    <% end %>
  </tbody>
</table>
