<% @customers.each do |customer| %>
  <h3><%= customer.name %></h3>

  <table>
    <thead>
      <tr>
        <th>Order Date</th>
        <th>Product</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% customer.purchase_orders.each do |order| %>
        <% order.purchase_order_items.each do |item| %>
          <tr>
            <td><%= order.order_date %></td>
            <td><%= item.product.name %></td> <!-- Access the product via the item -->
            <td><%= item.quantity %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
