<div id="<%= dom_id stock_adjustment %>">
  <p>
    <strong>Product:</strong>
    <%= stock_adjustment.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stock_adjustment.quantity %>
  </p>

  <p>
    <strong>Adjustment type:</strong>
    <%= stock_adjustment.adjustment_type %>
  </p>

</div>
