<h1>Editing stock adjustment</h1>

<%= render "form", stock_adjustment: @stock_adjustment %>

<br>

<div>
  <%= link_to "Show this stock adjustment", @stock_adjustment %> |
  <%= link_to "Back to stock adjustments", stock_adjustments_path %>
</div>
