<h1>Inventory Report</h1>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Supplier</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.quantity %></td>
        <td><%= product.supplier.name %></td>
        <td><%= number_to_currency(product.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
